body {
    width: 520px;
    font-family: Calibri;
    font-size: 10pt;
}
#header {
    font-family: Cambria;
    font-size: 12.75pt;
    font-weight: bold;
    text-align: left;
}
#header-para {
    font-family: Calibri;
    font-size: 10pt;
    font-style: italic;
    text-align: left;
}
.content {
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
}
.logbutton {
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    border-style: hidden;
    background-color: powderblue;
    box-shadow: 5px 5px 5px #000000;
}
.crbutton {
    width: 150px;
    padding: 5px;
    border-radius: 15px;
    border-style: hidden;
    background-color: powderblue;
    box-shadow: 5px 5px 5px #000000;
}
.logbutton:hover {
    background-color: dodgerblue;
    color: white;
}
.crbutton:hover {
    background-color: dodgerblue;
    color: white;
}
tr, td {
    font-family: Calibri;
    font-size: 10pt;
    padding: 5px;
}
.tdleft {
    width: 170px;
    text-align: left;
}
.tdright {
    width: 350px;
    text-align: right;
    line-height: 30px;
}
.footer {
    font-family: Calibri;
    font-size: 8pt;
}
@media screen and (max-width: 320px) 
{
	body  { 
       margin: 10px;
       width: 300px;
       font-family: Calibri;
       font-size: 12pt;
       font-weight:normal;
	}
    #header {
        font-family: Cambria;
        font-weight: bold;
        font-size: 12.75pt;
        text-align: center;
    }
    #header-para {
        font-family: Calibri;
        font-style: italic;
        font-size: 10pt;
        text-align: center;
    }
	
}