body {
	background-color: black;
}
.button {
	color: white;
	background-color: darkgray;
	border: 2px solid white;
	width: 120px;
	text-align: center;
}
.header {
	color: red;
	font-family: Helvetica;
	font-size: 20px;
}
.char {
	color: yellow;
	font-weight: bold;
	font-family: Times New Roman;
	font-size: 18px;
}
.raider {
	color: white;
	font-family: Helvetica;
	font-size: 12px;
}